<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Admin Page</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
  body {
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>

</head>


<body>
  {% include "navbar.html" %}

<div class='container col-md-4 col-md-offset-1'>
<form method='post' action="{{ url_for("admin_database_do") }}">

  <div class="form-group">

  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="rb_all" checked
	id="inlineRadio1" value="all"> Rollback All 
  </label> &nbsp;&nbsp;&nbsp;&nbsp;
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="rb_all" 
	id="inlineRadio2" value="same"> 
	Rollback Only Same Transcation
  </label>


    <label for="querys">
	Please enter your SQL query here.</label>
    <button class='btn btn-primary' type="submit"
	style="display: inline-block;margin-left:30px;">
	Execute</button>

    <textarea class="form-control"
	 id="querys" name="querys" placeholder='{% if querys is defined %}{{ querys}}{% endif %}' 
	rows="25"  style="margin-top:10px;">
{% if querys is defined %}{{ querys}}{% endif %}
</textarea>
  </div>

</form>
</div>


<div class='container col-md-4 col-md-offset-2'>
    <label>
	Log</label>
    <textarea class="form-control"
	rows="12"  style="margin-top:10px;" readonly>
    {% for command in commands %}{{ (command[0]-1) * "+ " + command[2] + " ------ " +  command[1]}} 
    {% endfor %}
    
    </textarea>
	<br><br><br>
    <label>
	Result</label>
    <textarea class="form-control" 
	rows="12"  style="margin-top:10px;" readonly>
{% for result in results %}{{ join(result,', ') }}

{%  endfor %}
    
    </textarea>
</div>

</body>
