<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Admin Page</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
  body {
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>

</head>


<body>
  {% include "navbar.html" %}

<div class='container col-md-10 col-md-offset-1'>
    <a data-toggle="collapse" data-target="#opening"><h3> 
	Amounts of Opening Business in Different States
	</h3><a>
    <hr md-2>
</div>
<div class='container col-md-1'></div>
<div id='opening' class="collapse">
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_1' style='width:100%;'></div>
    </div>
    <div class='container col-md-1'></div>
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_2' style='width:100%;'></div>
    </div>
    <div class='container col-md-1'></div>
</div>

<div class='container col-md-10 col-md-offset-1'>
    <a data-toggle="collapse" data-target="#reviews"><h3> 
	Amount of Reviews in Different States
	</h3><a>
    <hr md-2>
</div>
<div class='container col-md-1'></div>
<div id='reviews' class="collapse">
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_3' style='width:100%;'></div>
    </div>
    <div class='container col-md-1'></div>
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_4' style='width:100%;'></div>
    </div>
    <div class='container col-md-1'></div>
</div>

<div class='container col-md-10 col-md-offset-1'>
    <a data-toggle="collapse" data-target="#stars"><h3> 
	Stars of Business in Different States
	</h3><a>
    <hr md-2>
</div>
<div class='container col-md-1'></div>
<div id='stars' class="collapse">
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_5' style='width:100%;'></div>
    </div>
    <div class='container col-md-10 col-md-offset-1'>
    <div id='chart_6' style='width:100%;'></div>
    </div>
</div>

</body>

<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(draw_state_is_open);
   google.setOnLoadCallback(draw_state_review_count);
  google.setOnLoadCallback(draw_state_stars);

   function draw_state_is_open() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable({{ state_is_open|tojson }});
        var options = {
	  height: 400, width:1000
        };
         // Create and draw the visualization.
        new google.visualization.ColumnChart(
          document.getElementById('chart_1')).draw(data, options);
        new google.visualization.PieChart(
          document.getElementById('chart_2')).draw(data, options);
  }
   function draw_state_review_count() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable({{ state_review_count|tojson }});
        var options = {
	  height: 400, width:1000
        };
         // Create and draw the visualization.
        new google.visualization.ColumnChart(
          document.getElementById('chart_3')).draw(data, options);
        new google.visualization.PieChart(
          document.getElementById('chart_4')).draw(data, options);
  }

   function draw_state_stars() {
        // Create and populate the data table.
var data = new google.visualization.DataTable();
data.addColumn({type:'number',label:'stars',role:'domain'});
data.addColumn({type:'string',label:'state',role:'annotation'});
data.addColumn('number','number');
data.addRows({{state_stars|tojson}})

//        var data = google.visualization.arrayToDataTable({{ state_stars|tojson }});

//        var data = google.visualization.arrayToDataTable([
//		[{label:'stars',type:'number'}, {label:'number',type:'number'}],
//		[ 1,10],
//		[ 2,5],
//	]);

        var options = {
	  height: 400, width:1000
        };
         // Create and draw the visualization.
        new google.visualization.BarChart(
          document.getElementById('chart_5')).draw(data, options);
//        new google.visualization.PieChart(
//          document.getElementById('chart_6')).draw(data, options);
  }

    if (document.addEventListener) {
        window.addEventListener('resize', draw_state_is_open);
        window.addEventListener('resize', draw_state_review_count);
        window.addEventListener('resize', draw_state_stars);

  }
  else if (document.attachEvent) {
      window.attachEvent('onresize', draw_state_is_open);
        window.attachEvent('onresize', draw_state_review_count);
        window.attachEvent('onresize', draw_state_stars);

  }
  else {
      window.resize = draw_state_is_open;
        window.resize = draw_state_review_count;
        window.resize = draw_state_stars;

    }


</script> 
