<h3>
    Business Hours
</h3>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                Day
            </th>
            <th>
                Hours
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Monday
            </td>
            <td>
                {{ hours["Monday"] }}
            </td>
        </tr>
        <tr class="warning">
            <td>
                Tuesday
            </td>
            <td>
                {{ hours["Tuesday"] }}
            </td>
        </tr>
        <tr>
            <td>
                Wednesday
            </td>
            <td>
                {{ hours["Wednesday"] }}
            </td>
        </tr>
        <tr class="warning">
            <td>
                Thursday
            </td>
            <td>
                {{ hours["Thursday"] }}
            </td>
        </tr>
        <tr>
            <td>
                Friday
            </td>
            <td>
                {{ hours["Friday"] }}
            </td>
        </tr>
        <tr class="warning">
            <td>
                Saturday
            </td>
            <td>
                {{ hours["Saturday"] }}
            </td>
        </tr>
        <tr>
            <td>
                Sunday
            </td>
            <td>
                {{ hours["Sunday"] }}
            </td>
        </tr>
    </tbody>
</table>
