{% extends "profile.html" %}

{% block sidenav_content %}
    <ul class="navbar-nav navbar-sidenav nav nav-tabs">
<!--
      <li class="active nav-item">
        <a class="nav-link" href="#moments" data-toggle="tab">
          <i class="fa fa-fw fa-bandcamp"></i>
          <span class="nav-link-text">Moments</span>
        </a>
      </li>
-->
      <li class="nav-item active">
        <a class="nav-link" href="#profile" data-toggle="tab">
          <i class="fa fa-fw fa-id-card-o"></i>
          <span class="nav-link-text">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#attribute" data-toggle="tab">
          <i class="fa fa-fw fa-filter"></i>
          <span class="nav-link-text">Features</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#hours" data-toggle="tab">
          <i class="fa fa-fw fa-clock-o"></i>
          <span class="nav-link-text">Opening Hours</span>
        </a>
      </li>
<!--
      <li class="nav-item">
        <a class="nav-link" href="#checkin" data-toggle="tab">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">CheckIn Information</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#photo" data-toggle="tab">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Photos</span>
        </a>
      </li>
-->

    </ul>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container-fluid tab-content">

      <div class="tab-pane fade" id="moments" >
        <h3>Moments</h3>
        <p>Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.</p>
        <p>Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.Some content.</p>
      </div> <!-- <div class="tab-pane ..." id="moments" -->

   <!-- profile page -->
      <div class="tab-pane active" id="profile" >

    <ul class="navbar-nab nav nav-pills">
      <li class="active nav-item"><a class="nav-link" href="#info" data-toggle="tab"> Information</a></li>
      <li class="nav-item"><a class="nav-link" href="#update_info" data-toggle="tab">Update</a></li>
    </ul>


    <div class="container-fluid tab-content">

      <div class="tab-pane active in" id="info">
        <div class=" col-md-6 col-lg-6 "> 

          <h5> Basic Information </h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ business.name }}</td>
              </tr>
              <tr>
                <td>Open</td>
                <td>
                    {% if business.is_open == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td>Category</td>
                <td> 
                    {% for field,value in category.items() %}
                    {{ value }} &nbsp;&nbsp;&nbsp;&nbsp;
                    {% endfor %} 
                </td>
              </tr>
              <tr>
                <td>Stars</td>
                <td>{{ business.stars }}</td>
              </tr>
              <tr>
                <td>Review Count</td>
                <td>{{ business.review_count }}</td>
              </tr>
            </tbody>
          </table><br><br>
   
          <h5> Address </h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Street</td>
                <td>{{ business.address }}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>{{ business.city }}</td>
              </tr>
           
             <tr>
                <td>State</td>
                <td>{{ business.state }}</td>
              </tr>
                <tr>
                <td>Neighbourhood</td>
                <td>{{ business.neighborhood }}</td>
              </tr>
              <tr>
                <td>Postal Code</td>
                <td>{{ business.postal_code }}</td>
              </tr>
              <tr>
                <td>Latitude</td>
                <td>{{ business.latitude }}</td>
              </tr>
            </tbody>

          </table>
        </div>
        </div> <!-- <div class="tab-pane active in fade" id="info"> -->

      <div class="tab-pane fade" id="update_info">
        <form class="" 
            method="post" action="{{ url_for('update_merchant_info', business_key=business) }}">
             <div class="form-group">
                <label for="newname" class="col-4 control-label">
                    New Name</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newname"
                            placeholder={{ business.name }}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newopenornot" class="col-4 control-label">
                    OpenOrNot</label>
                <div class="col-4">
                    <div class="input-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" 
                            class="custom-control-input"
                            name = "newopenornot"
                            {% if true_or_false(business.is_open) %}
                                checked
                            {% endif %}>
                            <span class="custom-control-indicator"></span>
                        </label>

                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newstreet" class="col-4 control-label">
                    New Street</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newstreet"
                            placeholder='{{ business.address }}'>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newcity" class="col-4 control-label">
                    New city</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newcity"
                            placeholder={{ business.city }}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newname" class="col-4 control-label">
                    New State</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newstate"
                            placeholder={{ business.state}}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newneighborhood" class="col-4 control-label">
                    New Neighborhood</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newneighborhood"
                            placeholder={{ business.neighborhood}}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newpostal_code" class="col-4 control-label">
                    New Postal Code</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newpostal_code"
                            placeholder={{ business.postal_code}}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newlatitude" class="col-4 control-label">
                    New Latitude</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newlatitude"
                            placeholder={{ business.latitude}}>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label for="newlongitude" class="col-4 control-label">
                    New Longitude</label>
                <div class="col-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name="newlongitude"
                            placeholder={{ business.longitude}}>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">
                Update</button>
        </form>
        <br><br>
      </div>
      </div> <!-- <div class="container-fluid tab-content"> -->

      </div> <!-- <div class="tab-pane ..." id="profile" -->
  <!-- end of profile page -->

  <!-- Attribute page -->
      <div class="tab-pane fade" id="attribute" >
    <ul class="navbar-nab nav nav-pills">
      <li class="active nav-item"><a class="nav-link" href="#attr_info" data-toggle="tab">Current</a></li>
      <li class="nav-item"><a class="nav-link" href="#update_attr" data-toggle="tab">Update</a></li>
    </ul>


    <div class="container-fluid tab-content">
      <div class="tab-pane active" id="attr_info">
        <div class=" col-md-4 col-lg-4 "> 

          <table class="table">
            <tbody>
              {% for field1, value1 in attribute.items() %}
                <tr><td></td><td></td></tr>
                {% if is_dict(value1) %}                
                    <tr><td><b>{{ field1 }} </b> </td> <td></td></tr>
                    {% for field2, value2 in value1.items() %}
                      <tr>
                        <td>{{ field2 }} </td>
                        <td> {{ true_or_false(value2) }} </td>
                      </tr>
                    {% endfor %}
                {% else %}
                     <tr>
                        <td><b>{{ field1 }} </b> </td> 
                        <td>{{ true_or_false(value1) }}</td>
                     </tr>
                {% endif %}
              {% endfor %}
             <tr><td></td><td></td></tr>

            </tbody>
          </table><br><br>
   
        </div>
        </div> <!-- <div class="tab-pane active in fade" id="attr_info"> -->

      <div class="tab-pane fade" id="update_attr">
        <div class=" col-md-4 col-lg-4 "> 
        <form class="" method="post" action="{{ url_for('update_merchant_attr', attr_key=attribute, business_key=business) }}">
        <table class="table">
            <tbody>
              {% for field1, value1 in attribute.items() %}
                <tr><td></td><td></td></tr>
                {% if is_dict(value1) %}                
                    <tr><td><b>{{ field1 }} </b> </td> <td></td></tr>
                    {% for field2, value2 in value1.items() %}
                      <tr>
                        <td>{{ field2 }} </td>
                        <td>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" 
                            class="custom-control-input"
                            name="{{ field1 + '_' + field2 }}"
                            {% if true_or_false(value2) %}
                                checked
                            {% endif %}>
                            <span class="custom-control-indicator"></span>
                          </label>
                        </td>
                      </tr>
                    {% endfor %}
                {% else %}
                     <tr>
                        <td><b>{{ field1 }} </b> </td> 
                        <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" 
                            class="custom-control-input"
                            name="{{ field1 }}"
                            {% if true_or_false(value1) %}
                                checked
                            {% endif %}>
                            <span class="custom-control-indicator"></span>
                        </label>
                        </td>
                     </tr>
                {% endif %}
              {% endfor %}
             <tr><td></td><td></td></tr>

            </tbody>
        </table>
            <button type="submit" class="btn btn-default">
                Update</button>
        </form>
        <br><br>
      </div>
      </div>

      </div> <!-- <div class="container-fluid tab-content"> -->
      </div> <!-- <div class="tab-pane ..." id="attributes" -->
    <!-- end of attribute page -->

  <!-- opening hours page -->
      <div class="tab-pane fade" id="hours" >
    <ul class="navbar-nab nav nav-pills">
      <li class="active nav-item"><a class="nav-link" href="#hours_info" data-toggle="tab">Current</a></li>
      <li class="nav-item"><a class="nav-link" href="#update_hours" data-toggle="tab">Update</a></li>
    </ul>


    <div class="container-fluid tab-content">

      <div class="tab-pane active in" id="hours_info">
        <div class=" col-md-4 col-lg-4 "> 
          <table class="table">
            <tbody>
              {% for date in ['Monday', 'Tuesday', 'Wednesday',
                'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                <tr>
                <td> {{ date }} </td>
                <td> {{ hours[date] }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
   
        </div>
        </div> <!-- <div class="tab-pane active in fade" id="hours_info"> -->

      <div class="tab-pane fade" id="update_hours">
        <div class=" col-md-4 col-lg-3 "> 

        <form class="" method="post" action="{{ url_for('update_merchant_hours', business_key=business, hours_key=hours) }}">
              {% for date in ['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                 <div class="form-group">
                    <label for="newname" class="col-4 control-label">
                        {{ date }}</label>
                    <div class="input-group date" class='timepicker3'>
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" 
                            name={{ date+'_start_at' }}
                            placeholder={{ (hours[date]).split('-')[0] }}
                            >
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" 
                            name={{ date+'_end_at' }}
                            placeholder={{ (hours[date]).split('-')[1] }}>
                    </div>
                </div>
              {% endfor %}
        </div>
            <button type="submit" class="btn btn-default">
                Update</button>
        </form>
        <br><br>
      </div>
      </div> <!-- <div class="container-fluid tab-content"> -->

      </div> <!-- <div class="tab-pane ..." id="attributes" -->
  <!-- end of opening hours -->


  </div> <!--< div class="container-fluid tab-content"> -->
</div> <!-- <div class="content-wrapper"> -->
{% endblock %}
