<nav class="navbar navbar-fixed-top" style="background-color: #344a40!important;">
  <div class="container-fluid" >
    <a class="navbar-header, navbar-brand" href="{{ url_for('index') }}" >
      <img class="img-responsive" src="{{ url_for('static', filename='img/logo1.png') }}" style="height:1.8rem; display:inline; margin:0; padding=0px">
    </a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if business is defined %}
          <li><a href="/merchant/{{business['id']}}">{{ business.name }}</a></li>
      {% endif %}
      {% if user is defined %}
          <li><a href="/user/{{user['id']}}">{{ user.name }}</a></li>
      {% endif %}
    </ul>
    {% if request.path != '/' and request.path != '/index/' %}
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
    {% else %}
      <li><a data-toggle="modal" data-target="#popup_register" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a data-toggle="modal" data-target="#popup_login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>

</nav>


<div id="popup_login" class="modal popupmenu fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div calss = "modal-dialog modal-sm">
	<div class="modal-header">
		<span class="header_title">Login</span>
		<span class="modal_close"><i class="fa fa-times"></i></span>
	</div>

	<div class="modal-body">
	<form>
		<label>Email / Username</label>
			<input type="text" />
			<br />

			<label>Password</label>
			<input type="password" />
			<br />

			<div class="checkbox">
			<input id="remember" type="checkbox" />
				<label for="remember">Remember me on this computer</label>
			</div>

			<div class="action_btns">
			<div class=""><a href="#" class="btn btn_red">Login</a></div>
			</div>
		</form>

		<a href="#" class="forgot_password">Forgot password?</a>
	</div>
    </div>
</div>

<div id="popup_register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div calss = "modal-dialog modal-sm">
	<div class="modal-header">
		<span class="header_title">Login</span>
		<span class="modal_close"><i class="fa fa-times"></i></span>
	</div>


	    <div class="modal-body">
		<form>
		    <label>Full Name</label>
		    <input type="text" />
		    <br />

		    <label>Email Address</label>
		    <input type="email" />
		    <br />

		    <label>Password</label>
		    <input type="password" />
		    <br />

		    <div class="checkbox">
			    <input id="send_updates" type="checkbox" />
			    <label for="send_updates">Send me occasional email updates</label>
		    </div>

		    <div class="action_btns">
			    <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
		    </div>
		    </form>
	    </div>
    </div>
</div>
