<nav class="navbar navbar-fixed-top" style="background-color: #343a40!important;">
  <div class="container-fluid" >
    <a class="navbar-header, navbar-brand" href="{{ url_for('index') }}" >
      <img class="img-responsive" src="{{ url_for('static', filename='img/logo1.png') }}" style="height:1.8rem; display:inline; margin:0; padding=0px">
    </a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if business is defined %}
          <li><a href="/merchant/{{business['id']}}">{{ business.name }}</a></li>
      {% else %}
          <li><a href="/merchant/">Merchant</a></li>
      {% endif %}
      {% if user is defined %}
          <li><a href="/user/{{user['id']}}">{{ user.name }}</a></li>
      {% else %}
          <li><a href="/user/">User</a></li>
      {% endif %}
    </ul>
    <form class="navbar-form navbar-left">
      <ul class="input-group" style="padding-left:0;margin:auto">
    	   <li style="float:left;">
    	      <input id="navsearchbox-kw" type="text" class="form-control" placeholder="Search" style="width:300px">
         </li>
         <li style="float:left;">
    	      <input id="navsearchbox-loc" type="text" class="form-control" placeholder="Location" style="width:180px">
         </li>
        <li class="input-group-btn" style="float:left;">
          <button class="btn btn-default" type="submit" id="navsearch" onclick="navsearch()">
          <i class="glyphicon glyphicon-search"></i>
          </button>
        </li>
      </ul>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<script>
function navsearch() {
    var kw = document.getElementById("navsearchbox-kw").value.toLowerCase();
    var loc = document.getElementById("navsearchbox-loc").value.toLowerCase()
    if(loc == "")
        loc = "urbana,IL"
    if(kw)
        window.location = "/search/" + "kw=" + kw + "&loc=" + loc;
};
</script>
