<script>
function search_box() {
    var kw = document.getElementById("searchbox-kw").value.toLowerCase();
    var loc = document.getElementById("searchbox-loc").value.toLowerCase()
    if(kw)
        window.location = "/search/" + "kw=" + kw + "&loc=" + loc;
};
$(document).ready(function() {
    $('#searchbox-kw').keypress(function(e){
      if(e.keyCode==13)
      $('#search').click();
    });
    $('#searchbox-loc').keypress(function(e){
      if(e.keyCode==13)
      $('#search').click();
    });
});
</script>
